table,
tr,
th,
td,
caption {
  border: 1px solid rgb(22, 16, 16);
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}



.container {
  max-width: var(--max-width);
  margin-inline: auto;
  background-image: url("img/taco2.jpg");

}

/*nav styles*/

nav {
  background: cornsilk;
  color: #000000;
  padding: 2.5em 0;
  font-size: x-large;
}

.nav__header {
  display: flex;
  justify-content: center;
}

.nav_links {
  display:flex;
  flex-wrap:wrap-reverse;
  justify-content:space-between;
  margin-left: 350px;
  margin-right: 350px ;
  list-style-type: none;
}

.nav_links li {
  margin: 0;
}

.nav_links a {
  color:black;
  padding: 0.5em;
  border-radius: 4px;
}

.nav_links a:hover {
  background: #555;
}

/*home styles*/

.content {
  position: relative;
  isolation: isolate;
  min-height: 100vh;
  max-width: calc(var(--max-width) / 2);
  margin-inline: auto;
  padding: 8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.content::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: hsla(74, 100%, 36%, 0.5);;
  z-index: -1;
}

.content h1 {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
}

figcaption{
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  padding: 60px;
  text-color:rgb(168, 92, 205);
}
